<%-include('../cabecalho.ejs')%>
<h1>adicionar Aluno</h1>
<div>
    <a href="/aluno/lst"> listar</a>
</div>

<div>
<form method="post">
    <label>Nome:</label>
    <input type="text" name="nome"><br>
    <label>Matricular:</label>
    <input type="text" name="matricula"><br>
    <button type="submit">Cadastrar</button>


</form>


</div>

<%-include('../rodape.ejs')%>